<h1>Editing person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p> 
  <p>
    <%= f.label :company_name %><br />
<%= text_field_with_auto_complete :person, :company_name, {},{:url => formatted_companies_path(:js), :method => :get, :param_name => 'search' } %> 
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
