<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%
if controller.action_name == "index"
	title = controller.controller_name.capitalize
else
	title = controller.action_name.capitalize
end
title += " - " unless title.nil?
title += "Lowrise"
%>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= title %></title>
  <%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag :defaults %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<div id="wrap">
<div id="view_content">
<%= yield  %></div>


<div id="sidebar">
	<%= link_to image_tag('icons/PNG-24/Profile.png',:size=>'24x24') + ' Add a new person', new_person_path %>
</div>

</div>

<div id="footer">Lowrise built with <%= image_tag('rails.png' ) %></div>

</body>
</html>
